@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

:root {
  --color-background: #f9f9f9;
  --color-text: #333;
  --color-blue: rgb(78, 87, 211);
  --color-darkerblue: rgb(25, 45, 175);
  --color-border: #e4e4e4;
}